@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Farsan');

.modal-title {
	text-align: center;
}

body {
            background:url('') no-repeat center center;
            background-size:cover;  

            /* Workaround for some mobile browsers */
            min-height:100%;    
            padding-top: 20px;
            padding-bottom: 20px;
        }

body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.main {
	background: url('code.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:400px;
   box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
  padding:0;
}

.text-box {
  background:rgba(0,0,0, 0.8);
  color:white;
  position: absolute;
  width: 500px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -350px 0 0 -250px;;
}

.text-box h1 {
  font-family: 'Farsan', cursive;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.text-box h2 {
  font-family: 'Farsan', cursive;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:5px;
  margin-bottom:5px;
  padding:20px;
}

.navbar .navbar-inverse {
	border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
	font-family: 'Farsan', cursive;
}

body {
	font-family: 'Farsan', cursive;
	background: url('redox_02.png')
}



.navbar .navbar-inner {
    padding: 0;
    margin-left: 10;
}



.navbar .nav li {
    display: table-cell;
    width: 11%;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .75);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.navbar-brand{
  background-color: #000000;
}


div.title {
  font-size: 30px;
   height: 90px;
  line-height: 90px;
  text-align: center;
}

div.company{
  font-size:30px;
  font-weight: bold;
  height: 90px;
  line-height: 90px;
  text-align: center;
}



.application{
  
  text-align: center;
  float: right;

}

/*.application ul{
  margin-top: 5px;
  margin-bottom: -10px;
}*/

div.category{
     height: 90px;
  line-height: 90px;
  text-align: center;
  font-size:15px;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

span {
  text-decoration: none;
}

.outline {
  border:1px solid black;
  margin-top: 100px;
}

.mainshow {
  background: url('code.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:200px;
   box-shadow: 0px 3px 8px #2a2a2a;
}

.text-box-show {
  background:rgba(0,0,0, 0.8);
  color:white;
  position: absolute;
  width: 500px;
  height: 120px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -400px 0 0 -250px;;
}

.side-panel {

  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
}
